params {
    container__R = "quay.io/cmarinim/proscessor@sha256:d5275576c97cb4b4bb78c542dafca50a36542b8f79f0d8bbd93ec6e1384b2f61"
    container__igblast = "quay.io/biocontainers/igblast@sha256:0e5c956f7498f2554241752bc58ce9c0a9d6a44bad8e8e10fa1573c56a7eb00d"
    container__bbmap = "quay.io/biocontainers/bbmap:36.84--0"
    input_directory = ""
    output_directory = "output"
    mt_threshold = "0.2"
    metadata = ""
    ref_vdj = ""
    ref_vdj_type = "ogrdb"
    spikein = "NULL"
    clone = true
}

process {
    withName: merging_pools {
        cpus = 8
        memory = 15.GB
    }
    withName: annotate {
        cpus = 8
        memory = 15.GB
    }
    withName: select {
        cpus = 8
        memory = 15.GB
    }
    withName: grid {
        cpus = 8
        memory = 15.GB
    }
    withName: pair {
        cpus = 8
        memory = 15.GB
    }
    withName: clone {
        cpus = 16
        memory = 15.GB
    }
}
